.flash {
    animation: flash 5s ease-out;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        background-color: initial;
    }
    50% {
        background-color: lightcoral;
    }
    100% {
        background-color: initial;
    }
}